.child {
  .category-bg__info {
    @media (max-width: 640px) {
      background-image: url("images/background/child-mob.jpg") !important;
    }
  }
  .textarea {
    margin-bottom: 20px;
  }
  .time {
    margin-bottom: 20px;
  }
  .form {
    .btn-blue--animate {
      margin-top: 20px;
    }
  }
}
