.home-hero {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  padding: 0 15px;
  &:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.45);
    z-index: -1;
    @extend .absolute-fill;
  }
  * {
    color: $white;
  }
  h1 {
    margin-bottom: 32px;
  }
  p {
    max-width: 569px;
    margin-bottom: 42px;
  }
  span {
    margin: 0 25px;
  }
  & > .row {
    height: 100%;
    justify-content: center;
  }
}
.recent-posts {
  padding: 85px 0;
  &__title {
    margin-bottom: 20px;
    @media (min-width: 640px) {
      margin-bottom: 33px;
    }
  }
  &__link {
    margin-top: 18px;
    @media (min-width: 640px) {
      margin-top: 28px;
    }
  }
}
.home-products {
  padding: 60px 0 80px;
  &__slide {
    transition: 0.3s;
    p,
    a {
      transform: translateY(-15px);
      font-size: 21px;
      opacity: 0;
      transition: 0.2s;
      transition-delay: 0s;
      pointer-events: none;
    }
  }
  &__title {
    white-space: nowrap;
    margin-bottom: 6px;
    transition: 0.3s;
  }
  &:before,
  &:after {
    @media (min-width: 768px) {
      content: "";
    }
    display: block;
    position: absolute;
    width: 30%;
    top: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10;
  }
  &:before {
    left: 0;
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.47) 52%, #fff 100%);
  }
  &:after {
    right: 0;
    background-image: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0.47) 52%, rgba(255, 255, 255, 0) 100%);
  }
  &__arrow--right,
  &__arrow--left {
    stroke: map_get($grey, medium);
    opacity: 0;
    transition: 0.15s;
  }
  &__arrow--right {
    transform: translateX(10px) scale(1.5);
  }
  &__arrow--left {
    transform: translate(-10px, -1px) scale(1.5) rotate(180deg);
  }
  .swiper-slide-prev,
  .swiper-slide-next {
    cursor: pointer;
    transform: scale(0.75);
    .home-products__title {
      font-size: 33px;
    }
  }
  .swiper-slide-prev {
    .home-products__arrow--left {
      opacity: 1;
    }
  }
  .swiper-slide-next {
    .home-products__arrow--right {
      opacity: 1;
    }
  }
  .swiper-slide-active {
    .home-products__title {
      color: map_get($grey, extra);
    }
    p,
    a {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }
    p {
      transition-delay: 0.2s;
    }
    a {
      transition-delay: 0.4s;
    }
  }
}
.review-block {
  margin: 35px 0 43px;
  padding: 0 15px;
  @media (min-width: 640px) {
    margin: 71px 0 86px;
  }
  &__stars {
    margin-bottom: 6px;
  }
  &__img {
    background-size: cover;
    background-clip: content-box;
    background-position: center center;
    padding: 0 0 15px 15px;
    width: 80%;
    min-height: 240px;
    &:after {
      content: "";
      position: absolute;
      top: 15px;
      right: 15px;
      bottom: 0;
      left: 0;
      @extend .bg-primary;
      z-index: -1;
    }
    @media (min-width: 640px) {
      min-height: 400px;
    }
    @media (min-width: 1024px) {
      width: 53%;
    }
  }
  &__text {
    padding: 40px 0;
    @media (min-width: 1024px) {
      width: 47%;
      max-width: 545px;
      padding: 124px 0 89px 30px;
    }
    @media (max-width: 1025px) {
      br {
        display: none;
      }
    }
  }
  & > .row {
    justify-content: space-between;
  }
}
