.map-bg {
  position: relative;

  &__info {
    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 767px) {
      height: 235px;
    }
  }

  &__box {
    top: 0;
    bottom: 0;
    left: 60px;
    margin: auto;
    max-width: 565px;
    background-color: #fff;
    padding: 30px 30px 30px 50px;
    position: absolute;
    height: 181px;
    @media (max-width: 767px) {
      position: relative;
      left: 0;
      margin: 0 !important;
      padding: 25px;
      height: 230px;
    }
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      content: "";
      display: block;
      width: 10px;
      background-color: $secondary;
      transition: $transition;
    }

    h1 {
      font-size: 40px;
      font-weight: 700;
      line-height: 46px;
      color: $primary;
      margin-bottom: 15px;
    }

    h3 {
      color: #a2aaad;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
  }
}
.map-page {
  .news:not(.bottom) {
    background-color: #fff;
    .news-box {
      margin-bottom: 30px;
      &:hover {
        .news-box__link {
          > span {
            color: $secondary;
          }
        }
        .arrow {
          color: $secondary;
        }
      }
      .news-box__link {
        display: flex;
        > span {
          display: flex;
          align-items: center;
          margin-left: 15px;
          margin-top: 0;
          color: #333f48;
          font-size: 15px;
          font-weight: 700;
          line-height: 22px;
          transition: $transition;
        }
      }
      &__info {
        background-color: #f9f9f9;
        .arrow {
          display: flex;
        }
      }
    }
  }
}

//map style and filter
.map {
  margin: 60px 0 0 0;
  &__filter {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__top-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__button {
    width: 100%;
    max-width: 120px;
    height: 40px;
    border: 1px solid #a2aaad;
    color: #a2aaad !important;
    font-size: 15px;
    font-weight: 600;
    @include center;
    img {
      margin-right: 10px;
    }
  }
  &__reset {
    color: #d0d0ce !important;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    position: relative;
    transition: 0s !important;
    @include center;
    &.select {
      color: #00b8de !important;
      font-weight: 600;
    }
    img {
      margin-right: 10px;
      transition: $transition;
    }
    .hover {
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      opacity: 0;
      visibility: hidden;
    }
  }
  &__toggle {
    display: none;
    margin-bottom: 60px;
  }
  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-direction: column;
      justify-content: center;
      > div {
        max-width: 100%;
        width: 100%;
      }
    }
    @media (max-width: 525px) {
      label {
        white-space: nowrap;
      }
    }
    h2 {
      color: #002b49;
      font-size: 28px;
      font-weight: 700;
      line-height: 34px;
      margin-bottom: 20px;
    }
    input[type=radio],
    input[type=checkbox] {
      display: none;
    }
  }
  &__locate {
    width: 100%;
    max-width: 680px;
    @media (max-width: 991px) {
      margin-bottom: 25px;
    }
  }
  &__radio {
    display: flex;
    flex-direction: column;
    max-height: 290px;
    flex-wrap: wrap;
    @media (max-width: 1199px) {
      max-height: 450px;
    }
    @media (max-width: 640px) {
      max-height: 380px;
    }
    .select {
      width: 39.3%;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      label {
        color: #a2aaad;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        position: relative;
        padding-left: 30px;
        margin: 0;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          display: block;
          width: 20px;
          height: 20px;
          border: 1px solid #a2aaad;
        }
        &:after {
          content: url("images/icons/check.svg");
          position: absolute;
          left: 4px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
      input {
        margin: 0;
        &:checked + label {
          color: #333f48;
          &:before {
            background-color: #00b8de;
            border: 1px solid #00b8de;
          }
        }
      }
    }
  }
  &__facilites {
    max-width: 492px;
  }
  &__checkbox {
    display: flex;
    flex-direction: column;
    max-height: 290px;
    flex-wrap: wrap;
    @media (max-width: 1199px) {
      max-height: 450px;
    }
    @media (max-width: 640px) {
      max-height: 290px;
    }
    .select-checkbox {
      width: 50%;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      label {
        color: #333f48 !important;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        position: relative;
        padding-left: 30px;
        margin: 0;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          display: block;
          width: 20px;
          height: 20px;
          border: 1px solid #a2aaad;
        }
        &:after {
          content: url("images/icons/check.svg");
          position: absolute;
          left: 4px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
      input {
        margin: 0;
        &:checked + label {
          color: #333f48;
          &:before {
            background-color: #00b8de;
            border: 1px solid #00b8de;
          }
        }
      }
    }
  }
  #map {
    width: 100%;
    height: 375px;
    margin: 0 15px;
  }
  .gm-style-iw.gm-style-iw-c {
    border-radius: 17px;
    padding: 0 !important;
    @media (max-width: 640px) {
      max-width: none !important;
    }
    .gm-style-iw-d {
      overflow: hidden !important;
      @media (max-width: 640px) {
        max-width: none !important;
      }
      > div {
        width: 100%;
        height: 100%;
      }
    }
    button {
      display: none !important;
    }
  }
  .info-map {
    width: 100%;
    max-width: 240px;
    height: 128px;
    padding: 14px;
    border-radius: 17px;
    background-color: #00b8de;
    display: flex;
    flex-direction: column;
    strong {
      color: #fff;
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 6px;
    }
    p {
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }
    a {
      color: #fff;
      font-size: 15px;
      font-weight: 700;
      line-height: 22px;
      img {
        margin-left: 9px;
      }
    }
  }
  .gm-style .gm-style-iw-t::after {
    content: none !important;
  }
}
