<section class="bg-primary cta__section">
  <div class="row cta">
    <h2 class="text-white">Ready for an adventure?</h2>
    <a href="#" class="btn btn-white-outline">Find your local dealer</a>
  </div>
</section>
