<div class="help">
  <div class="row column align-right">
    <div class="help__box">
      <a href="#">
        <img src="images/icons/chat.svg" alt="chat">
        <span>Need help?</span>
      </a>
    </div>
  </div>
</div>
