<a href="#" class="column small-12 medium-6 large-4 text-white">
  <span class="single-tile position-relative" style="background-image: url('{{image}}')">
    <span class="single-tile__subtitle text-uppercase">{{subtitle}}</span>
    <span class="single-tile__title text-uppercase">{{title}}</span>
    <span class="btn btn-white fw-bold">Read more</span>
  </span>
</a>
