/**
 * ============
 * Typography
 * ============
 * Define as much reusable typography here
 * such as `.text-hero`, which can be `@extend`-ed from other scss files
 * This way, this file become a master list of typography used throughout the site
 */
body {
  font-family: $body-font-family;
  @media (min-width: 640px) {
    font-size: 21px;
  }
}
h1 {
  color: map-get($grey, extra);
  line-height: 80.9px;
}
h2 {
  color: map-get($grey, medium);
  line-height: 64.85px;
}
h3 {
  color: map-get($grey, extra);
  line-height: 47.74px;
}
h4 {
  font-family: $body-font-family;
  color: map-get($grey, medium);
  font-weight: 400;
}
h5 {
  font-family: $body-font-family;
  color: map-get($grey, medium);
  font-weight: 500;
}
