{{#with category-head}}
  <div class="category-info">
    <div class="category-info__bg" style="background-image: url(' {{image}} ')"></div>
    <div class="category-info__box">
      <h3>{{category}}</h3><span>/</span><h3>{{date}}</h3>
      <h1>{{title}}</h1>
    </div>
  </div>
{{/with}}
