<header class="header {{header.class}}">
  <div class="row align-right header__top-nav">
      <a href="#">About Us</a>
      <a href="#">Contact Us</a>
      <a href="#">Dealer Log In</a>
    </div>
  <div class="row header__main-nav">
    <div class="header__mobile columns flex-container align-middle">
      <button class="header__mobile__burger position-relative" data-mob-menu-trigger>
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a href="#">Find a Dealer</a>
    </div>
    <div class="columns small-5 large-3 header__logo">
      <a href="#" data-logo-white="images/logos/logo-white.svg">
        <img src="images/logos/logo-primary.svg" alt="Atlantic Caravans Logo">
      </a>
    </div>
    <nav class="columns header__main-nav__links">
      <ul class="no-bullet flex-container align-middle align-right">
        <li><a href="#">Models</a></li>
        <li><a href="#">Customisation</a></li>
        <li><a href="#">News and Events</a></li>
        <li><a href="#" class="btn btn-grey-outline">Find a Dealer</a></li>
      </ul>
    </nav>
  </div>
  <div class="header__menu">
    <ul class="no-bullet">
      <li><a href="#">Models</a></li>
      <li><a href="#">Customisation</a></li>
      <li><a href="#">News and Events</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Dealer Log In</a></li>
    </ul>
  </div>
</header>
