<div class="shadow-bg"></div>
<div class="mega-menu">
  <div class="mega-menu__info">
    <div class="row column">
      <div class="mega-menu__left">
        <ul>
          <li><a href="#">Invest</a></li>
          <li><a href="#">Discover</a></li>
          <li><a href="#">Riverside Theatres</a></li>
        </ul>
        <span class="mega-menu__la"> <img src="images/icons/world.svg" alt="world"> English
          <ul class="menu-top">
            <li><a href="#">Arabic (العربية)</a></li>
            <li><a href="#">Chinese – Simplified(汉语)</a></li>
            <li><a href="#">Chinese - Traditional(漢語)</a></li>
            <li class="active"><a href="#">English(English)</a></li>
            <li><a href="#">Farsi (فارسی)</a></li>
            <li><a href="#">Hindi (हिन्दी)</a></li>
            <li><a href="#">Korean (한글)</a></li>
          </ul>
        </span>
      </div>
    </div>
  </div>
  <div class="mega-menu__bg">
    <div class="column">
      <div class="mega-menu__top">
        <a href="/" class="logo">
          <img src="images/logos/logo.svg" alt="logo">
        </a>
        <ul class="mega-menu__nav">
          <li class="dropdown-link">
            <a href="#">Living</a>
            <div class="mega-menu__element">
              <div class="row column">
                <ul>
                  <li><a href="#">Activities and Programs</a></li>
                  <li><a href="#">Citizenship</a></li>
                  <li><a href="#">Grants</a></li>
                  <li><a href="#">Rates, Fees and Charges</a></li>
                  <li><a href="#">Venues and Bookings</a></li>
                </ul>
                <div class="mega-menu__white">
                  <ul>
                    <strong>Noise, Pollution and Maintenance</strong>
                    <li><a href="#">Domestic Squalor</a></li>
                    <li><a href="#">Neighbourhood Noise</a></li>
                    <li><a href="#">Private and Public Property</a></li>
                    <li><a href="#">Street Lights</a></li>
                  </ul>
                  <ul>
                    <strong>Parking and Transport</strong>
                    <li><a href="#">Car Parks and Permits</a></li>
                    <li><a href="#">Free Shuttle Bus and Mobility</a></li>
                    <li><a href="#">Pay a Parking Fine</a></li>
                    <li><a href="#">Road Safety</a></li>
                  </ul>
                  <ul>
                    <strong>Pets</strong>
                    <li><a href="#">Lost and Found</a></li>
                    <li><a href="#">Desexing and ID Program</a></li>
                    <li><a href="#">Vets and Organisations</a></li>
                  </ul>
                  <ul>
                    <strong>Waste and Recycling</strong>
                    <li><a href="#">Clean-up and Illegal Dumping</a></li>
                    <li><a href="#">Collection Days</a></li>
                    <li><a href="#">Request a bin</a></li>
                    <li><a href="#">Special Waste Services</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="dropdown-link">
            <a href="#">Visiting</a>
            <div class="mega-menu__element">
              <div class="row column">
                <div class="mega-menu__white">
                  <div class="mega-menu__link--other">
                    <a href="#">Accommodation and Directions</a>
                    <a href="#">Discover Parramatta
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 20 20" version="1.1">
                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Footer" transform="translate(-1296.000000, -85.000000)" fill="#002B49">
                            <g id="Group-3" transform="translate(1151.000000, 85.000000)">
                              <path d="M164.995245,17.0260714 L164.995245,3.29667729 C164.995245,3.05919672 164.99961,2.82084446 164.99961,2.5824922 C164.99961,1.62646808 164.471464,0.709714864 163.607231,0.277645515 C163.23885,0.094297107 162.840769,0 162.428743,0 C162.357161,0 162.284705,0.0043651722 162.210504,0.0043651722 L147.67126,0.00523910069 C147.610152,0.00523910069 147.550792,0.000873928485 147.489684,0.000873928485 C146.854158,0.0183346173 146.250075,0.271523545 145.791767,0.708085468 C145.25314,1.22059647 145.004365,1.9216838 145.004365,2.65245342 L145.004365,17.1851465 C145.004365,17.2637241 145,17.3440495 145,17.4226271 C145,17.7998021 145.078566,18.1603926 145.228707,18.5052703 C145.632018,19.4220226 146.581799,19.9982566 147.572543,20 C147.799507,20 148.026471,19.9956346 148.253457,19.9956346 L162.467094,19.9956346 C163.097369,19.9869036 163.699708,19.7529239 164.169369,19.3320748 C164.642517,18.9060168 164.913126,18.3149193 164.985577,17.6906527 C165.010893,17.4741263 164.99518,17.2471172 164.99518,17.0262212 L164.995245,17.0260714 Z M160.194048,10.5214508 C160.194048,11.0103814 159.794223,11.3727152 159.321098,11.3945299 C158.849694,11.416358 158.448149,10.97719 158.448149,10.5214508 L158.448149,7.79305052 L156.719682,9.51915985 C155.888613,10.350353 155.05408,11.1823955 154.222988,12.014438 C153.535101,12.7024276 152.848086,13.3895455 152.161048,14.0766857 C151.999549,14.2382083 151.838055,14.3997264 151.676548,14.5612578 L151.515049,14.7227804 C151.443467,14.7943732 151.371011,14.8642205 151.301174,14.9366872 C150.956348,15.2859234 150.415129,15.2579845 150.065945,14.9366872 C150.061581,14.9323221 150.055469,14.9279569 150.050233,14.9209722 C150.037137,14.9078767 150.024043,14.8947789 150.013569,14.8816834 C150.006585,14.8746987 150.003092,14.8685879 149.996108,14.8624748 L149.994363,14.8607292 C149.989999,14.856364 149.985634,14.850251 149.983886,14.8450141 L149.982141,14.8432663 C149.982141,14.8389011 149.975157,14.8327903 149.971667,14.8275512 L149.969919,14.8275512 L149.968174,14.8275512 L149.966428,14.8275512 C149.966428,14.8275512 149.964683,14.8258056 149.964683,14.8231861 L149.964683,14.8214404 L149.964683,14.8170753 L149.964683,14.8127101 L149.964683,14.8109622 C149.962935,14.8092166 149.962935,14.8065971 149.964683,14.8039775 L149.964683,14.8022319 L149.964683,14.8004863 C149.960316,14.7987406 149.955952,14.7987406 149.954206,14.7961211 C149.952461,14.7961211 149.952461,14.7943732 149.949842,14.7917559 C149.949842,14.7917559 149.948097,14.7917559 149.948097,14.7900081 C149.946349,14.7882624 149.943732,14.7856429 149.943732,14.7830233 C149.943732,14.7812777 149.945477,14.7786582 149.943732,14.7786582 C149.939365,14.7716734 149.933255,14.7629431 149.928017,14.7568323 C149.923652,14.7498476 149.921033,14.7463541 149.917543,14.7393694 C149.915797,14.7323847 149.910559,14.7262739 149.908814,14.7201608 C149.908814,14.7184152 149.907066,14.7157957 149.904447,14.7131761 C149.902701,14.7114305 149.902701,14.7088109 149.900082,14.7061914 L149.898337,14.7061914 L149.898337,14.7044458 C149.898337,14.7000806 149.893972,14.697461 149.891353,14.6939698 C149.891353,14.6939698 149.891353,14.6922219 149.889608,14.6922219 L149.889608,14.6904763 C149.889608,14.6887307 149.887863,14.6861112 149.887863,14.6834916 C149.886115,14.681746 149.886115,14.6791264 149.883496,14.6765069 C149.88175,14.6721417 149.88175,14.6695222 149.879131,14.6660309 C149.877386,14.6616635 149.877386,14.6572983 149.877386,14.6529332 L149.877386,14.6459484 C149.877386,14.6354725 149.873021,14.6267399 149.868657,14.6180095 C149.866911,14.6136444 149.864292,14.6075336 149.861673,14.6022945 C149.859928,14.5979293 149.857309,14.5935641 149.854689,14.5865794 C149.841594,14.5411798 149.830248,14.4905389 149.826755,14.4425198 C149.825009,14.429422 149.825009,14.4145809 149.82239,14.4006115 C149.80493,14.1474181 149.892227,13.8854854 150.071188,13.7064977 L150.084282,13.6907804 C150.429108,13.3371858 150.78265,12.9923081 151.131834,12.643072 L153.288037,10.4865473 C154.119107,9.65535412 154.951025,8.82069654 155.782944,7.98948103 C156.258706,7.5136482 156.736211,7.03781538 157.212844,6.55762408 L154.484851,6.55762408 C153.995993,6.55762408 153.633713,6.15774034 153.611901,5.68454494 C153.590077,5.21307058 154.029179,4.8114658 154.484851,4.8114658 L159.319346,4.8114658 C159.50878,4.8114658 159.685984,4.8795674 159.832653,4.98608386 L159.839636,4.99306858 C159.839636,4.99306858 159.841382,4.99481644 159.844001,4.99481644 C159.845746,4.99481644 159.845746,4.99656206 159.848365,4.99656206 C159.850113,4.99830769 159.855349,5.00092724 159.857097,5.00354679 C159.885031,5.02275533 159.91384,5.04720074 159.940027,5.07164839 C159.981929,5.11093717 160.018593,5.15197382 160.050892,5.19824732 C160.055257,5.20523205 160.059621,5.21134284 160.063986,5.21745587 C160.06835,5.22444059 160.07446,5.23317094 160.079698,5.23928173 C160.092794,5.25849028 160.104142,5.28119007 160.114617,5.30214423 C160.14779,5.37024584 160.168741,5.44009306 160.17747,5.51343153 C160.181834,5.53787918 160.184454,5.56145066 160.186199,5.58502438 C160.193183,5.61820237 160.199295,5.65312598 160.199295,5.68543005 L160.191437,10.5215402 L160.194048,10.5214508 Z" id="Fill-1"></path>
                            </g>
                          </g>
                        </g>
                      </svg>
                    </a>
                  </div>
                  <ul>
                    <strong>Events</strong>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Festivals</a></li>
                    <li><a href="#">Major Events</a></li>
                    <li><a href="#">School Holidays</a></li>
                  </ul>
                  <ul>
                    <strong>History</strong>
                    <li><a href="#">Aboriginal Heritage</a></li>
                    <li><a href="#">Historical Research</a></li>
                    <li><a href="#">Archaeology and Conservation</a></li>
                    <li><a href="#">Archives and Heritage Centre</a></li>
                  </ul>
                  <ul>
                    <strong>Library</strong>
                    <li><a href="#">Collections</a></li>
                    <li><a href="#">Memberships</a></li>
                    <li><a href="#">Programs and Services</a></li>
                  </ul>
                  <ul>
                    <strong>Things to do</strong>
                    <li><a href="#">Arts and Studios</a></li>
                    <li><a href="#">Farmers Market</a></li>
                    <li><a href="#">Seasonal Calendar</a></li>
                  </ul>
                </div>
              </div>
            </div></li>
          <li><a href="#">Community</a></li>
          <li><a href="#">Recreation</a></li>
          <li><a href="#">Environment</a></li>
          <li><a href="#">Business</a></li>
          <li><a href="#">Development</a></li>
          <li><a href="#">Council</a></li>
          <li class="search dropdown-link"><a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 20 20" version="1.1">
              <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Main-Menu" transform="translate(-1310.000000, -70.000000)" fill="#002B49">
                  <path d="M1329.66716,88.107492 L1324.76253,83.1962547 C1327.22882,79.9867494 1326.98263,75.3495779 1324.02286,72.4144127 C1322.4065,70.7962448 1320.32342,70 1318.21364,70 C1316.10387,70 1314.02067,70.7951475 1312.40443,72.4144127 C1309.19852,75.6239181 1309.19852,80.8363808 1312.40443,84.0458861 C1314.02078,85.664054 1316.10387,86.4602989 1318.21364,86.4602989 C1319.96701,86.4602989 1321.72153,85.9116186 1323.17418,84.786385 L1328.10567,89.6710113 C1328.32511,89.8906974 1328.59914,90 1328.89992,90 C1329.17396,90 1329.47583,89.8906919 1329.69418,89.6710113 C1330.1063,89.2595011 1330.1063,88.5457778 1329.66742,88.107492 L1329.66716,88.107492 Z M1318.24028,84.2387473 C1316.62393,84.2387473 1315.14344,83.6075455 1313.99278,82.4834093 C1311.6635,80.1515181 1311.6635,76.3387387 1313.99278,73.9788648 C1315.11675,72.8536313 1316.62393,72.2235269 1318.24028,72.2235269 C1319.85663,72.2235269 1321.33712,72.8547287 1322.48778,73.9788648 C1323.6385,75.1040984 1324.24115,76.6129692 1324.24115,78.2311371 C1324.24115,79.849305 1323.61066,81.331455 1322.48778,82.4834093 C1321.36381,83.6354184 1319.82989,84.2387473 1318.24028,84.2387473 Z" id="Fill-1"/>
                </g>
              </g>
            </svg>
          </a>
            <div class="mega-menu__search">
              <div class="row column">
                <form action="" class="mega-menu__form">
                  <input type="text" placeholder="I’m looking for…">
                  <button>Search
                    <div class="arrow">
                      <span class="line"></span><?xml version="1.0" encoding="UTF-8"?>
                      <svg width="9px" height="18px" viewBox="0 0 9 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M8.769,8.389 L1.823,0.807 C1.519,0.411 0.895,0.411 0.512,0.736 C0.329746578,0.885822338 0.217870103,1.10458238 0.203082366,1.34004865 C0.188294629,1.57551492 0.271922911,1.80655304 0.434,1.978 L6.034,8.083 L6.85852051,8.97552804 L6.033,9.867 L0.434,15.972 C0.067,16.313 0.17,16.901 0.555,17.225 C0.941,17.549 1.521,17.526 1.823,17.143 L8.77,9.56 C8.956,9.367 8.99,9.156 9.001,8.975 C8.982,8.785 8.9,8.532 8.769,8.389 Z" id="Path"></path>
                      </svg>
                    </div>
                  </button>
                </form>
                <div class="mega-menu__result">
                  <ul>
                    <li><a href="#">
                      <strong>Rates, fees and charges</strong>
                      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore…</span>
                    </a></li>
                    <li><a href="#">
                      <strong>Your rates online</strong>
                      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore…</span>
                    </a></li>
                    <li><a href="#">
                      <strong>Frequently Asked Questions</strong>
                      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore…</span></a></li>
                    <li><a href="#">
                      <strong>Rates, fees and charges</strong>
                      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore…</span></a></li>
                    <li><a href="#">
                      <strong>Your rates online</strong>
                      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore…</span></a></li>
                  </ul>
                  <div class="loader">
                    <span class="loading-btn anim"><img src="images/icons/anim.svg"><img src="images/icons/events-loading.svg" alt="" class="hover">Loading...</span>
                  </div>
                </div>
              </div>
            </div></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mega-menu__error">
    <div class="row column">
      <span>
        <span>
          <img src="images/icons/alert.svg" alt="alert"> Alert here lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        <a href="#">Learn more</a>
        </span>
        <span class="close">
          <img src="images/icons/close-white.svg" alt="">
        </span>
      </span>
    </div>
  </div>
</div>
