{{#with megaMenu}}
  <div class="mega-menu">
    <div class="mega-menu__info">
      <div class="row column">
        <div class="mega-menu__left">
          <ul>
            <li><a href="#">Invest</a></li>
            <li><a href="#">Discover</a></li>
            <li><a href="#">Riverside Theatres</a></li>
          </ul>
          <span> <img src="images/icons/world.svg" alt="world"> English</span>
        </div>
      </div>
    </div>
    <div class="mega-menu__bg">
      <div class="column">
        <div class="mega-menu__top">
          <a href="/" class="logo">
            <img src="images/logos/logo.svg" alt="logo">
          </a>
          <ul class="mega-menu__nav">
            <li>
              <a href="#">Living</a>
              <div class="mega-menu__element">
                <div class="row column">
                  <ul>
                    <li><a href="#">Activities and Programs</a></li>
                    <li><a href="#">Citizenship</a></li>
                    <li><a href="#">Grants</a></li>
                    <li><a href="#">Rates, Fees and Charges</a></li>
                    <li><a href="#">Venues and Bookings</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li><a href="#">Visiting</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Recreation</a></li>
            <li><a href="#">Environment</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="#">Council</a></li>
            <li><a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 20 20" version="1.1">
                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Main-Menu" transform="translate(-1310.000000, -70.000000)" fill="#002B49">
                    <path d="M1329.66716,88.107492 L1324.76253,83.1962547 C1327.22882,79.9867494 1326.98263,75.3495779 1324.02286,72.4144127 C1322.4065,70.7962448 1320.32342,70 1318.21364,70 C1316.10387,70 1314.02067,70.7951475 1312.40443,72.4144127 C1309.19852,75.6239181 1309.19852,80.8363808 1312.40443,84.0458861 C1314.02078,85.664054 1316.10387,86.4602989 1318.21364,86.4602989 C1319.96701,86.4602989 1321.72153,85.9116186 1323.17418,84.786385 L1328.10567,89.6710113 C1328.32511,89.8906974 1328.59914,90 1328.89992,90 C1329.17396,90 1329.47583,89.8906919 1329.69418,89.6710113 C1330.1063,89.2595011 1330.1063,88.5457778 1329.66742,88.107492 L1329.66716,88.107492 Z M1318.24028,84.2387473 C1316.62393,84.2387473 1315.14344,83.6075455 1313.99278,82.4834093 C1311.6635,80.1515181 1311.6635,76.3387387 1313.99278,73.9788648 C1315.11675,72.8536313 1316.62393,72.2235269 1318.24028,72.2235269 C1319.85663,72.2235269 1321.33712,72.8547287 1322.48778,73.9788648 C1323.6385,75.1040984 1324.24115,76.6129692 1324.24115,78.2311371 C1324.24115,79.849305 1323.61066,81.331455 1322.48778,82.4834093 C1321.36381,83.6354184 1319.82989,84.2387473 1318.24028,84.2387473 Z" id="Fill-1"/>
                  </g>
                </g>
              </svg>
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{{/with}}
