<div class="related-box">
  <ul>
    <strong>Related Content</strong>
    <li><a href="#">Lorem ipsum</a></li>
    <li><a href="#">Dolor sit amet</a></li>
    <li><a href="#">Consectetur adipiscing</a></li>
    <li><a href="#">Lorem ipsum</a></li>
    <li><a href="#">Dolor sit amet</a></li>
  </ul>
</div>
