.btn {
  display: inline-block;
  svg {
    margin-left: 15px;
    overflow: visible;
  }
  .svg-anim {
    margin-left: -1px;
  }
  .svg-anim,
  svg {
    transition: $transition;
  }
  &:hover {
    svg {
      margin-left: 30px;
    }
    .svg-anim {
      transform: translateX(-20px);
    }
  }
  &.no-arrow svg {
    display: none;
  }
}
.btn-primary-outline {
  padding: 17px 35px;
  border: 1px solid $primary;
  color: $primary;
  stroke: $primary;
  font-weight: 700;
  &:hover {
    color: $primary;
  }
}
.btn-grey-outline {
  color: map-get($grey, extra);
  stroke: map-get($grey, extra);
  padding: 7px 14px;
  border: 1px solid map-get($grey, extra);
  font-size: 16px;
  &:hover {
    color: map-get($grey, extra);
  }
}
.btn-white-outline {
  color: $white;
  stroke: $white;
  padding: 9px 20px;
  border: 1px solid $white;
  font-size: 16px;
  font-weight: 700;
  &:hover {
    color: $white;
  }
  @media (min-width: 640px) {
    font-size: 23px;
    padding: 17px 35px;
  }
}
.btn-primary {
  color: $primary;
  stroke: $primary;
  font-weight: 700;
  &:hover {
    color: $primary;
  }
}
.btn-white {
  color: $white;
  stroke: $white;
  &:hover {
    color: $white;
  }
}
.btn-grey {
  color: map-get($grey, extra);
  stroke: map-get($grey, extra);
  font-size: 16px;
  &:hover {
    color: map-get($grey, extra);
  }
}
.btn-grey,
.btn-white {
  svg {
    margin-bottom: -3px;
  }
}
a[role="link"] {
  text-decoration: underline;
}
