.category-info {
  position: relative;
  @media (max-width: 767px) {
    background-color: #f9f9f9;
  }
  &__bg {
    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 767px) {
      height: 235px;
      background-image: url("images/background/article-mob.jpg") !important;
    }
  }

  &__box {
    top: 0;
    bottom: 0;
    left: 60px;
    margin: auto;
    width: 100%;
    max-width: 565px;
    height: 181px;
    background-color: #fff;
    padding: 30px 30px 30px 50px;
    position: absolute;
    @media (max-width: 767px) {
      background-color: #f9f9f9;
      margin: 0 !important;
      position: static;
      height: auto;
      padding: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        margin-bottom: 0 !important;
      }
    }
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      content: "";
      display: block;
      width: 10px;
      background-color: $secondary;
      transition: $transition;
    }

    h1 {
      font-size: 40px;
      font-weight: 800;
      line-height: 46px;
      color: $primary;
      margin-bottom: 15px;
    }

    h3 {
      color: #a2aaad;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 5px;
      text-transform: uppercase;
      display: inline-block;
      @media (max-width: 640px) {
        display: block;
      }
    }
    > span {
      color: #a2aaad;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      display: inline-block;
      margin: 0 10px 5px 10px;
      @media (max-width: 640px) {
        display: none;
      }
    }
  }
}
