.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 640px) {
    padding: 0 15px;
  }
  &__top {
    width: 100%;
  }
  &__info-company {
    max-width: 368px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 45px;
    border-right: 1px solid #d0d0ce;
    @media (max-width: 1220px) {
      max-width: 100%;
      margin-bottom: 50px;
      border-right: none;
    }
    @media (max-width: 640px) {
      padding: 0 25px 40px 25px;
      border-right: none;
      border-bottom: 1px solid #d0d0ce;
      justify-content: center;
      align-items: center;
    }
  }
  &__logo {
    max-width: 235px;
    width: 100%;
    height: 55px;
  }
  &__contact {
    li {
      margin: 16px 0;
      transition: $transition;
      &:hover {
        a {
          color: $secondary;
        }
        path {
          fill: $secondary !important;
        }
      }
      > a {
        display: flex;
        align-items: center;
        transition: $transition;
        @media (max-width: 640px) {
          justify-content: center;
        }
        span {
          margin-right: 12px;
          display: flex;
          justify-content: center;
          @media (max-width: 991px) {
            width: auto;
          }
        }
        span:first-of-type {
          width: 20px;
        }
        svg {
          path {
            transition: $transition;
          }
        }
      }
    }
  }
  &__social {
    display: flex;
    li {
      margin: 0 15px 0 0;
      display: flex;
      align-items: center;
      svg {
        margin-right: 0 !important;
        fill: $primary;
        transition: $transition;
        &:hover {
          fill: $secondary;
        }
      }
    }
  }
  &__nav {
    padding: 0 0 0 45px;
    display: flex;
    align-items: center;
    border-right: 1px solid #d0d0ce;
    @media (max-width: 1220px) {
      padding: 0 15px;
    }
    @media (max-width: 640px) {
      padding: 0 25px;
      border-right: none;
      border-bottom: 1px solid #d0d0ce;
      display: flex;
      justify-content: center;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 640px) {
        max-width: 220px;
        display: flex;
        justify-content: space-between;
      }
      li {
        width: 25%;
        text-align: left;
        margin-bottom: 20px;
        @media (max-width: 991px) {
          width: 32%;
        }
        @media (max-width: 640px) {
          width: 41%;
        }
        a {
          transition: $transition;
        }
      }
    }
  }
  &__other-link {
    max-width: 210px;
    margin-left: 31px;
    padding-right: 0;
    @include center;
    @media (max-width: 991px) {
      max-width: none;
      justify-content: flex-start;
      margin-left: 0;
    }
    @media (max-width: 640px) {
      padding: 0 25px;
    }
    ul {
      @media (max-width: 640px) {
        margin: 40px auto 0 !important;
      }
      li {
        margin-bottom: 21px;
        &:hover {
          a {
            color: $secondary;
          }
          path {
            fill: $secondary !important;
          }
        }
        a {
          display: flex;
          align-items: center;
          transition: $transition;
          svg {
            display: block;
            margin-left: 14px;
          }
        }
      }
    }
  }
  &__country {
    width: 100%;
    display: flex;
    margin-top: 42px;
    background-color: #f9f9f9;
    padding: 18px 15px;
    div {
      > div {
        display: flex;
        justify-content: center;
        @media (max-width: 640px) {
          flex-direction: column;
          align-items: center;
        }
      }
    }
    img {
      width: 50px;
      margin-right: 20px;
      @media (max-width: 640px) {
        margin-bottom: 15px;
      }
    }
    span {
      width: 100%;
      display: block;
      max-width: 804px;
      color: #333f48;
    }
  }
  &__bottom {
    width: 100%;
    background-color: $primary;
    padding: 10px 0;
    * {
      color: #fff;
      font-size: 13px;
      font-weight: 400;
    }
  }
  &__contact--adress {
    ul {
      flex-wrap: wrap;
      @include center;
      li {
        margin-right: 10px;
      }
    }
  }
}
