body * {
  font-family: "Parramatta", sans-serif;
  font-weight: normal;
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 !important;
}

.text-primary {
  color: $primary;
}
.text-white {
  color: $white;
}
.text-grey-extra {
  color: map_get($grey, extra);
}
.text-grey-medium {
  color: map_get($grey, medium);
}
.bg-primary {
  background-color: $primary;
}
.bg-grey-extra {
  background-color: map_get($grey, extra);
}
.bg-grey-light {
  background-color: map_get($grey, light);
}
.fw-bold {
  font-weight: 700;
}
