body * {
  font-family: "Parramatta", sans-serif;
  font-weight: normal;
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 !important;
}

.desk {
  display: inline-block;
  @media (max-width: 640px) {
    display: none !important;
  }
}
.mob {
  display: none !important;
  @media (max-width: 640px) {
    display: inline-block !important;
  }
}
