.mob-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 501;
  transition: color 0.3s, background 0.3s, transform 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  @media (max-width: 1199px) {
    display: block;
  }
  &.headroom--pinned {
    transform: translateY(0);
  }
  &.headroom--unpinned {
    transform: translateY(-100%);
  }
  &__error {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #ff7e00;
    opacity: 1;
    visibility: visible;
    transition: $transition;
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
    .close {
      margin-left: 20px;
      width: 15px;
      img {
        min-width: 15px;
      }
    }
    div {
      > span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        > img {
          margin-right: 15px;
        }
        span {
          color: #fff;
          font-size: 13px;
          font-weight: 600;
          line-height: 21px;
          a {
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            line-height: 21px;
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__la {
    padding-left: 42px !important;
    position: relative;
    &:before {
      content: url("images/icons/world-2.svg");
      position: absolute;
      left: 15px;
      height: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &:after {
      content: url("images/icons/arrow-down.svg");
      padding-left: 10px;
      top: 0;
      height: 15px;
      bottom: 0;
      margin: auto;
    }
  }
  &__link {
    position: relative;
    margin: 25px 15px !important;
    border-bottom: 1px solid #d0d0ce;
    li {
      margin-bottom: 20px;
      a {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        display: flex;
        align-items: center;
        svg {
          margin-left: 10px;
        }
      }
    }
  }
  &__close {
    background-color: #fff;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
    transition: $transition;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
    &.active {
      width: 100%;
    }
  }
  &__top {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 15px;
  }
  &__logo {
    max-width: 128px;
    height: 30px;
    img {
      width: 100%;
    }
  }
  &__burger,
  &__search {
    @include center;
    cursor: pointer;
  }
}
.mob-menu__nav {
  position: fixed;
  left: 0;
  right: 40px;
  top: 0;
  bottom: 0;
  overflow: auto;
  z-index: 501;
  background-color: #f9f9f9;
  transition: $transition;
  transform: translateX(-105%);
  &.show {
    transform: translateX(0);
  }
  .accordion-menu {
    background-color: #fff;
    padding: 25px 0;
    > li {
      a {
        margin-right: 0 !important;
        display: inline-block !important;
        color: $primary;
        font-weight: 700;
      }
      button {
        position: relative;
        width: 15px !important;
        height: 15px !important;
        &:before {
          content: url("images/icons/arrow-down.svg");
          position: absolute;
          top: 9px;
          left: -5px;
          bottom: 0;
          margin: auto;
          height: 23px;
        }
        &:after {
          content: none !important;
        }
      }
      > ul {
        a {
          background: transparent !important;
          font-size: 16px;
          font-weight: 400;
          line-height: 17px;
          color: $primary;
        }
        > ul {
          a {
            font-size: 13px;
            color: #333f48;
          }
        }
      }
    }
  }
}
.accordion-menu-lang {
  margin-bottom: 25px !important;
  li.active {
    a {
      color: $primary;
      font-weight: 600;
      background-color: transparent !important;
    }
  }
}
