<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="article">
{{> ../common/mega-menu }}
{{> ../common/category-head }}
<section class="article-content">
  <div class="row">
    <div class="small-12 medium-12 large-6 large-offset-1 column">
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam vulputate dignissim suspendisse in est ante in nibh.</p>
      <p>Diam ut venenatis tellus in metus vulputate eu scelerisque. Ultricies mi quis hendrerit dolor magna eget est lorem. Aliquet sagittis id consectetur purus ut faucibus pulvinar elementum integer. Sit amet nisl purus in mollis nunc sed id. Cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla.</p>
      <p>Vel turpis nunc eget lorem dolor. Quisque id diam vel quam elementum pulvinar etiam non quam. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor.</p>
      <div class="image-box">
        <img src="images/background/article-foto.jpg" alt="foto">
        <span>Image caption lorem ipsum dolor sit amet</span>
      </div>
      <p>Quam pellentesque nec nam aliquam sem et tortor consequat. Ac orci phasellus egestas tellus rutrum. Scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis. Consectetur purus ut faucibus pulvinar. Nunc consequat interdum varius sit amet mattis vulputate.</p>
      <p>Nunc aliquet bibendum enim facilisis gravida. Vel facilisis volutpat est velit egestas dui. Tempus quam pellentesque nec nam aliquam sem et. Eu mi bibendum neque egestas congue quisque egestas diam. Quis hendrerit dolor magna eget est lorem ipsum dolor sit. Duis at consectetur lorem donec massa sapien faucibus et. Erat pellentesque adipiscing commodo elit.</p>
      <p>Diam quam nulla porttitor massa. Varius morbi enim nunc faucibus a pellentesque sit. Mattis rhoncus urna neque viverra justo nec. Sit amet cursus sit amet. Volutpat sed cras ornare arcu dui vivamus arcu felis. Sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus. Vel risus commodo viverra maecenas accumsan lacus vel facilisis volutpat.</p>
      <p>Viverra aliquet eget sit amet tellus cras adipiscing. Viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat. Elementum tempus egestas sed sed risus pretium. Viverra ipsum nunc aliquet bibendum. Ridiculus mus mauris vitae ultricies. Amet tellus cras adipiscing enim eu turpis egestas pretium aenean.</p>
      <p>Urna porttitor rhoncus dolor purus non. Tellus mauris a diam maecenas sed enim ut sem viverra. Fermentum posuere urna nec tincidunt praesent semper feugiat. Arcu cursus euismod quis viverra nibh cras. Orci sagittis eu volutpat odio. Nec dui nunc mattis enim ut tellus elementum sagittis. Ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet.</p>
      <p>Ultricies lacus sed turpis tincidunt. Ac placerat vestibulum lectus mauris ultrices eros in cursus turpis. Malesuada fames ac turpis egestas. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Id eu nisl nunc mi. Amet facilisis magna etiam tempor orci eu lobortis. Odio eu feugiat pretium nibh.</p>
    </div>
    <div class="main-content small-12 medium-12 large-3 large-offset-1 column">
      <div class="share-box">
        <strong>Share</strong>
        <ul>
          <li><a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px"
                 height="20px" viewBox="0 0 10 20" version="1.1">
              <path d="M2.484,6.624 L0,6.624 L0,9.936 L2.484,9.936 L2.484,19.872 L6.624,19.872 L6.624,9.936 L9.639576,9.936 L9.936,6.624 L6.624,6.624 L6.624,5.243724 C6.624,4.452984 6.782976,4.14 7.54722,4.14 L9.936,4.14 L9.936,0 L6.782976,0 C3.805488,0 2.484,1.310724 2.484,3.82122 L2.484,6.624 Z"
                    id="Path"></path>
            </svg>
          </a></li>
          <li><a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px"
                 height="16px" viewBox="0 0 20 16" version="1.1">
              <path d="M19.1808,2.0435544 C18.4751064,2.3568408 17.7166656,2.5678296 16.9206624,2.6629344 C17.7334488,2.1762216 18.357624,1.4049936 18.6509304,0.4859136 C17.8908912,0.9366624 17.0485344,1.2643344 16.151832,1.4409576 C15.4349496,0.6761232 14.4111744,0.1982016 13.2795072,0.1982016 C10.7388504,0.1982016 8.8719192,2.5686288 9.4457448,5.0293656 C6.1762176,4.8655296 3.27672,3.2990976 1.3354632,0.9182808 C0.3044952,2.6869104 0.8007984,5.0005944 2.5526448,6.1722216 C1.9084896,6.1514424 1.3010976,5.9748192 0.771228,5.6799144 C0.7280712,7.5028896 2.0347632,9.2083824 3.9272688,9.5880024 C3.3734232,9.738252 2.7668304,9.7734168 2.149848,9.6551352 C2.6501472,11.2183704 4.1030928,12.355632 5.826168,12.3876 C4.171824,13.6847016 2.0875104,14.2641216 -1.77635684e-15,14.017968 C1.7414568,15.1344504 3.8105856,15.7857984 6.0323616,15.7857984 C13.338648,15.7857984 17.466516,9.6151752 17.2171656,4.0807152 C17.985996,3.5252712 18.653328,2.8323648 19.1808,2.0435544 Z"
                    id="Path"></path>
            </svg>
          </a></li>
          <li><a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px"
                 height="18px" viewBox="0 0 18 18" version="1.1">
              <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Footer" transform="translate(-240.000000, -211.000000)" fill="#002B49">
                  <path d="M240,211 L240,214.428571 C248.0475,214.428571 254.571429,220.9525 254.571429,229 L258,229 C258,219.059071 249.940929,211 240,211 Z M240,217.857143 L240,221.285714 C244.260643,221.285714 247.714286,224.739357 247.714286,229 L251.142857,229 C251.142857,222.845929 246.154071,217.857143 240,217.857143 Z M242.142857,224.714286 C240.959271,224.714286 240,225.673557 240,226.857143 C240,228.040729 240.959271,229 242.142857,229 C243.326443,229 244.285714,228.040729 244.285714,226.857143 C244.285714,225.673557 243.326443,224.714286 242.142857,224.714286 Z"
                        id="Fill-1"></path>
                </g>
              </g>
            </svg>
          </a></li>
          <li><a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="13" viewBox="0 0 20 13">
              <path fill="#002b49" d="M20 13H0V1.895l8.337 6.358c.881.67 2.292.685 3.194.036L20 1.744zM9.214 6.888L.18 0h19.646L10.48 6.888c-.364.263-.92.263-1.265 0z"></path>
            </svg>
          </a></li>
        </ul>
      </div>
      <form class="subscribe-box">
        <span>Stay up to date with news and events in Parramatta</span>
        <input type="email" placeholder="Your email…">
        <button>Subscribe
          <div class="arrow">
            <span class="line"></span>
            <svg width="9px" height="18px" viewBox="0 0 9 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M8.769,8.389 L1.823,0.807 C1.519,0.411 0.895,0.411 0.512,0.736 C0.329746578,0.885822338 0.217870103,1.10458238 0.203082366,1.34004865 C0.188294629,1.57551492 0.271922911,1.80655304 0.434,1.978 L6.034,8.083 L6.85852051,8.97552804 L6.033,9.867 L0.434,15.972 C0.067,16.313 0.17,16.901 0.555,17.225 C0.941,17.549 1.521,17.526 1.823,17.143 L8.77,9.56 C8.956,9.367 8.99,9.156 9.001,8.975 C8.982,8.785 8.9,8.532 8.769,8.389 Z" id="Path"></path>
            </svg>
          </div>
        </button>
      </form>
    </div>
  </div>
</section>
<section class="news events">
  <div class="row column">
    <h2>Upcoming events</h2>
  </div>
  <div class="row">
    {{#each news-bottom}}
      {{> ../partials/news-box }}
    {{/each}}
  </div>
  <a href="#" class="btn-blue--animate" data-state="">
    <span>
      <span>V</span>
      <span>i</span>
      <span>e</span>
      <span>w</span>
      <span>&nbsp;</span>
      <span>a</span>
      <span>l</span>
      <span>l</span>
      <span>&nbsp;</span>
      <span>e</span>
      <span>v</span>
      <span>e</span>
      <span>n</span>
      <span>t</span>
      <span>s</span>
    </span>
    <span>
      <span>V</span>
      <span>i</span>
      <span>e</span>
      <span>w</span>
      <span>&nbsp;</span>
      <span>a</span>
      <span>l</span>
      <span>l</span>
      <span>&nbsp;</span>
      <span>e</span>
      <span>v</span>
      <span>e</span>
      <span>n</span>
      <span>t</span>
      <span>s</span>
    </span>
  </a>
</section>
{{> ../common/cta }}
{{> ../common/mobile-nav }}
<footer>
  {{> ../common/footer }}
</footer>
</body>
</html>
