<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="event-tag">
{{> ../common/mega-menu }}
{{> ../common/category-head }}
<section class="article-content">
  <div class="row">
    <div class="small-12 medium-12 large-6 large-offset-1 column">
      <h2>Quam pellentesque nec nam aliquam sem et tortor consequat. Ac orci phasellus egestas tellus rutrum, scelerisque fermentum dui faucibus in ornare.</h2>
      <p>Consectetur purus ut faucibus pulvinar. Nunc consequat interdum varius sit amet mattis vulputate. Nunc aliquet bibendum enim facilisis gravida. Vel facilisis volutpat est velit egestas dui. Tempus quam pellentesque nec nam aliquam sem et.</p>
      <div class="image-box">
        <img src="images/background/music.jpg" alt="foto">
        <span>Image caption lorem ipsum dolor sit amet</span>
      </div>
      <p>Volutpat sed cras ornare arcu dui vivamus arcu felis. Sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus. Vel risus commodo viverra maecenas accumsan lacus vel facilisis volutpat. Viverra aliquet eget sit amet tellus cras adipiscing. </p>
      <p>Elementum tempus egestas sed sed risus pretium. Viverra ipsum nunc aliquet bibendum. Ridiculus mus mauris vitae ultricies. Amet tellus cras adipiscing enim eu turpis egestas pretium aenean. Urna porttitor rhoncus dolor purus non.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44603.24830465054!2d150.96388972060137!3d-33.80828026337166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12bd45276df7e3%3A0x5017d681632cfd0!2zV2VzdG1lYWQg0J3QvtCy0LjQuSDQn9GW0LLQtNC10L3QvdC40Lkg0KPQtdC70YzRgSAyMTQ1LCDQkNCy0YHRgtGA0LDQu9GW0Y8!5e0!3m2!1suk!2sua!4v1586868086987!5m2!1suk!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="main-content small-12 medium-12 large-3 large-offset-1 column">
      <div class="sidebar">
        <a href="#" class="buy"><img src="images/icons/buy-blue.svg"> <img src="images/icons/buy-white.svg">Buy tickets today</a>
      </div>
      <div class="sidebar__info">
        <div class="sidebar__item">
          <strong><img src="images/icons/time-clock.svg" alt="clock">When</strong>
          <span>Saturday 14th December, 2019 <br> 7:00pm – 9:00pm</span>
        </div>
        <div class="sidebar__item">
          <strong><img src="images/icons/pin-star.svg" alt="star">Where</strong>
          <span>The Crescent, Parramatta Park</span>
        </div>
        <div class="sidebar__item">
          <strong><img src="images/icons/hand.svg" alt="hand">How much</strong>
          <span>$10 – <a href="#">Buy tickets</a></span>
        </div>
        <div class="sidebar__item">
          <strong><img src="images/icons/telefon.svg" alt="telefon">How much</strong>
          <span>Lorem ipsum dolor sit amet</span>
          <a href="tel:(02) 9874 5621">(02) 9874 5621</a>
        </div>
        <div class="sidebar__item">
          <strong><img src="images/icons/cursor.svg" alt="telefon">Website</strong>
          <a href="www.website.com.au" target="_blank">www.website.com.au</a>
        </div>
      </div>
      <div class="share-box">
        <strong>Share</strong>
        <ul>
          <li><a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px"
                 height="20px" viewBox="0 0 10 20" version="1.1">
              <path d="M2.484,6.624 L0,6.624 L0,9.936 L2.484,9.936 L2.484,19.872 L6.624,19.872 L6.624,9.936 L9.639576,9.936 L9.936,6.624 L6.624,6.624 L6.624,5.243724 C6.624,4.452984 6.782976,4.14 7.54722,4.14 L9.936,4.14 L9.936,0 L6.782976,0 C3.805488,0 2.484,1.310724 2.484,3.82122 L2.484,6.624 Z"
                    id="Path"></path>
            </svg>
          </a></li>
          <li><a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px"
                 height="16px" viewBox="0 0 20 16" version="1.1">
              <path d="M19.1808,2.0435544 C18.4751064,2.3568408 17.7166656,2.5678296 16.9206624,2.6629344 C17.7334488,2.1762216 18.357624,1.4049936 18.6509304,0.4859136 C17.8908912,0.9366624 17.0485344,1.2643344 16.151832,1.4409576 C15.4349496,0.6761232 14.4111744,0.1982016 13.2795072,0.1982016 C10.7388504,0.1982016 8.8719192,2.5686288 9.4457448,5.0293656 C6.1762176,4.8655296 3.27672,3.2990976 1.3354632,0.9182808 C0.3044952,2.6869104 0.8007984,5.0005944 2.5526448,6.1722216 C1.9084896,6.1514424 1.3010976,5.9748192 0.771228,5.6799144 C0.7280712,7.5028896 2.0347632,9.2083824 3.9272688,9.5880024 C3.3734232,9.738252 2.7668304,9.7734168 2.149848,9.6551352 C2.6501472,11.2183704 4.1030928,12.355632 5.826168,12.3876 C4.171824,13.6847016 2.0875104,14.2641216 -1.77635684e-15,14.017968 C1.7414568,15.1344504 3.8105856,15.7857984 6.0323616,15.7857984 C13.338648,15.7857984 17.466516,9.6151752 17.2171656,4.0807152 C17.985996,3.5252712 18.653328,2.8323648 19.1808,2.0435544 Z"
                    id="Path"></path>
            </svg>
          </a></li>
          <li><a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px"
                 height="18px" viewBox="0 0 18 18" version="1.1">
              <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Footer" transform="translate(-240.000000, -211.000000)" fill="#002B49">
                  <path d="M240,211 L240,214.428571 C248.0475,214.428571 254.571429,220.9525 254.571429,229 L258,229 C258,219.059071 249.940929,211 240,211 Z M240,217.857143 L240,221.285714 C244.260643,221.285714 247.714286,224.739357 247.714286,229 L251.142857,229 C251.142857,222.845929 246.154071,217.857143 240,217.857143 Z M242.142857,224.714286 C240.959271,224.714286 240,225.673557 240,226.857143 C240,228.040729 240.959271,229 242.142857,229 C243.326443,229 244.285714,228.040729 244.285714,226.857143 C244.285714,225.673557 243.326443,224.714286 242.142857,224.714286 Z"
                        id="Fill-1"></path>
                </g>
              </g>
            </svg>
          </a></li>
          <li><a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="13" viewBox="0 0 20 13">
              <path fill="#002b49" d="M20 13H0V1.895l8.337 6.358c.881.67 2.292.685 3.194.036L20 1.744zM9.214 6.888L.18 0h19.646L10.48 6.888c-.364.263-.92.263-1.265 0z"></path>
            </svg>
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="news events">
  <div class="row column">
    <h2>Upcoming events</h2>
  </div>
  <div class="row">
    {{#each news-bottom}}
      {{> ../partials/news-box }}
    {{/each}}
  </div>
  <a href="#" class="btn-blue--animate" data-state="">
    <span>
      <span>V</span>
      <span>i</span>
      <span>e</span>
      <span>w</span>
      <span>&nbsp;</span>
      <span>a</span>
      <span>l</span>
      <span>l</span>
      <span>&nbsp;</span>
      <span>e</span>
      <span>v</span>
      <span>e</span>
      <span>n</span>
      <span>t</span>
      <span>s</span>
    </span>
    <span>
      <span>V</span>
      <span>i</span>
      <span>e</span>
      <span>w</span>
      <span>&nbsp;</span>
      <span>a</span>
      <span>l</span>
      <span>l</span>
      <span>&nbsp;</span>
      <span>e</span>
      <span>v</span>
      <span>e</span>
      <span>n</span>
      <span>t</span>
      <span>s</span>
    </span>
  </a>
</section>
{{> ../common/cta }}
{{> ../common/mobile-nav }}
<footer>
  {{> ../common/footer }}
</footer>
</body>
</html>
