<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="home">
{{> ../common/mega-menu }}
{{#with iWanTo}}
  <section class="want">
    <div class="row expanded">
      <div class="want__img wow fadeInUp" style="background-image: url('{{images}}')">
        <a href="#" class="want__white-box">
          <h1>Have Your Say on our Parramatta Night Market</h1>
          <h3>City of Parramatta Council has revealed the concept design for the new aquatic and leisure centre</h3>
          <span>Find out more  <span class="arrow">
            <span class="line"></span>
          <svg width="9px" height="18px" viewBox="0 0 9 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M8.769,8.389 L1.823,0.807 C1.519,0.411 0.895,0.411 0.512,0.736 C0.329746578,0.885822338 0.217870103,1.10458238 0.203082366,1.34004865 C0.188294629,1.57551492 0.271922911,1.80655304 0.434,1.978 L6.034,8.083 L6.85852051,8.97552804 L6.033,9.867 L0.434,15.972 C0.067,16.313 0.17,16.901 0.555,17.225 C0.941,17.549 1.521,17.526 1.823,17.143 L8.77,9.56 C8.956,9.367 8.99,9.156 9.001,8.975 C8.982,8.785 8.9,8.532 8.769,8.389 Z" id="Path"></path>
          </svg>
          </span></span>
        </a>
      </div>
      <div class="want__list column wow fadeInRight">
        <h2>I want to…</h2>
        <ul>
          <li>
            <a href="#"><span class="hover__img">
            <img src="images/icons/1.svg" alt="">
            <img src="images/icons/1-h.svg" alt="">
          </span>
              <span>Pay rates or fees</span></a></li>
          <li><a href="#"><span class="hover__img">
            <img src="images/icons/2.svg" alt="">
            <img src="images/icons/2-h.svg" alt="">
          </span>
            <span>Work at the Council</span></a></li>
          <li><a href="#">
            <span class="hover__img">
            <img src="images/icons/3.svg" alt="">
              <img src="images/icons/3-h.svg" alt="">
          </span>
            <span>Visit a library</span>
          </a></li>
          <li><a href="#"><span class="hover__img">
            <img src="images/icons/4.svg" alt="">
            <img src="images/icons/4-h.svg" alt="">
          </span>
            <span>Lodge a Development Application</span></a></li>
          <li><a href="#"><span class="hover__img">
            <img src="images/icons/5.svg" alt="">
            <img src="images/icons/5-h.svg" alt="">
          </span>
            <span>Find a car park</span></a></li>
          <li><a href="#"><span class="hover__img">
            <img src="images/icons/6.svg" alt="">
            <img src="images/icons/6-h.svg" alt="">
          </span>
            <span>Book a venue</span></a></li>
          <li><a href="#">
            <span class="hover__img">
            <img src="images/icons/7.svg" alt="">
              <img src="images/icons/7-h.svg" alt="">
          </span>
            <span>Contact customer service</span>
          </a></li>
          <li><a href="#">
            <span class="hover__img">
            <img src="images/icons/8.svg" alt="">
              <img src="images/icons/8-h.svg" alt="">
          </span>
            <span>See the waste collection schedule</span>
          </a></li>
          <li><a href="#"><span class="hover__img">
            <img src="images/icons/9.svg" alt="">
            <img src="images/icons/9-h.svg" alt="">
          </span>
            <span>Book a clean-up</span></a></li>
          <li><a href="#"><span class="hover__img">
            <img src="images/icons/10.svg" alt="">
            <img src="images/icons/10-h.svg" alt="">
          </span>
            <span>View online services</span></a></li>
        </ul>
      </div>
    </div>
  </section>
{{/with}}
{{#with latest}}
  <section class="latest-news">
    <div class="row expanded align-center flex-justify-center">
      <div class="latest-news__img wow fadeIn" data-wow-delay="0.2s" style="background-image: url('{{ images }}')"></div>
      <div class="latest-news__text column wow fadeIn" data-wow-delay="0.5s">
        <h2>Latest news and media</h2>
        <ul>
          <li><a href="#">
            <span class="item">
              <span>Media Release  |  22 November 2019</span>
              <p>Rydalmere Park’s multi-million dollar upgrade in full swing <span class="arrow">
            <span class="line"></span><?xml version="1.0" encoding="UTF-8"?>
                <svg width="9px" height="18px" viewBox="0 0 9 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M8.769,8.389 L1.823,0.807 C1.519,0.411 0.895,0.411 0.512,0.736 C0.329746578,0.885822338 0.217870103,1.10458238 0.203082366,1.34004865 C0.188294629,1.57551492 0.271922911,1.80655304 0.434,1.978 L6.034,8.083 L6.85852051,8.97552804 L6.033,9.867 L0.434,15.972 C0.067,16.313 0.17,16.901 0.555,17.225 C0.941,17.549 1.521,17.526 1.823,17.143 L8.77,9.56 C8.956,9.367 8.99,9.156 9.001,8.975 C8.982,8.785 8.9,8.532 8.769,8.389 Z" id="Path"></path>
          </svg>
          </span></p>
            </span>
          </a></li>
          <li><a href="#">
            <span class="item">
              <span>Media Release  |  20 November 2019</span>
              <p>Get a glimpse into the city’s future with 3D flythrough <span class="arrow">
            <span class="line"></span><?xml version="1.0" encoding="UTF-8"?>
                <svg width="9px" height="18px" viewBox="0 0 9 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M8.769,8.389 L1.823,0.807 C1.519,0.411 0.895,0.411 0.512,0.736 C0.329746578,0.885822338 0.217870103,1.10458238 0.203082366,1.34004865 C0.188294629,1.57551492 0.271922911,1.80655304 0.434,1.978 L6.034,8.083 L6.85852051,8.97552804 L6.033,9.867 L0.434,15.972 C0.067,16.313 0.17,16.901 0.555,17.225 C0.941,17.549 1.521,17.526 1.823,17.143 L8.77,9.56 C8.956,9.367 8.99,9.156 9.001,8.975 C8.982,8.785 8.9,8.532 8.769,8.389 Z" id="Path"></path>
          </svg>
          </span></p>
            </span>
          </a></li>
          <li><a href="#">
            <span class="item">
              <span>Media Release  |  20 November 2019</span>
              <p>Get a glimpse into the city’s future with 3D flythrough <span class="arrow">
            <span class="line"></span><?xml version="1.0" encoding="UTF-8"?>
                <svg width="9px" height="18px" viewBox="0 0 9 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M8.769,8.389 L1.823,0.807 C1.519,0.411 0.895,0.411 0.512,0.736 C0.329746578,0.885822338 0.217870103,1.10458238 0.203082366,1.34004865 C0.188294629,1.57551492 0.271922911,1.80655304 0.434,1.978 L6.034,8.083 L6.85852051,8.97552804 L6.033,9.867 L0.434,15.972 C0.067,16.313 0.17,16.901 0.555,17.225 C0.941,17.549 1.521,17.526 1.823,17.143 L8.77,9.56 C8.956,9.367 8.99,9.156 9.001,8.975 C8.982,8.785 8.9,8.532 8.769,8.389 Z" id="Path"></path>
          </svg>
          </span></p>
            </span>
          </a></li>
        </ul>
        <a href="#" class="btn-blue--animate" data-state="">
    <span>
      <span>V</span>
      <span>i</span>
      <span>e</span>
      <span>w</span>
      <span>&nbsp;</span>
      <span>a</span>
      <span>l</span>
      <span>l</span>
      <span>&nbsp;</span>
      <span>n</span>
      <span>e</span>
      <span>w</span>
      <span>s</span>
    </span>
          <span>
      <span>V</span>
      <span>i</span>
      <span>e</span>
      <span>w</span>
      <span>&nbsp;</span>
      <span>a</span>
      <span>l</span>
      <span>l</span>
      <span>&nbsp;</span>
      <span>n</span>
      <span>e</span>
      <span>w</span>
      <span>s</span>
    </span>
        </a>
      </div>

    </div>
  </section>
{{/with}}
<section class="news events wow fadeIn" data-wow-delay="0.4s">
  <div class="row column">
    <h2>Upcoming events</h2>
  </div>
  <div class="row">
    {{#each news}}
      {{> ../partials/news-box }}
    {{/each}}
  </div>
  <a href="#" class="btn-blue--animate" data-state="">
    <span>
      <span>V</span>
      <span>i</span>
      <span>e</span>
      <span>w</span>
      <span>&nbsp;</span>
      <span>a</span>
      <span>l</span>
      <span>l</span>
      <span>&nbsp;</span>
      <span>e</span>
      <span>v</span>
      <span>e</span>
      <span>n</span>
      <span>t</span>
      <span>s</span>
    </span>
    <span>
      <span>V</span>
      <span>i</span>
      <span>e</span>
      <span>w</span>
      <span>&nbsp;</span>
      <span>a</span>
      <span>l</span>
      <span>l</span>
      <span>&nbsp;</span>
      <span>e</span>
      <span>v</span>
      <span>e</span>
      <span>n</span>
      <span>t</span>
      <span>s</span>
    </span>
  </a>
</section>
{{#with cta}}
  {{> ../common/cta }}
{{/with}}
{{> ../common/mobile-nav }}
<div class="alert">
  <div class="alert__cookie column">
    <span>Cookies lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a
            href="#">Learn more</a></span>
    <span class="close__cookie"><img src="images/icons/close-white.svg" alt=""></span>
  </div>
</div>
{{> ../partials/need-help }}
<footer>
  {{> ../common/footer }}
</footer>

</body>
</html>
