<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
<div class="row">
  <a href="#" class="btn">link</a>
  <a href="#" class="btn-blue">link</a>
  <a href="#" class="btn-blue--animate" data-state="">
    <span>
      <span>V</span>
      <span>i</span>
      <span>e</span>
      <span>w</span>
      <span>&nbsp;</span>
      <span>a</span>
      <span>l</span>
      <span>l</span>
      <span>&nbsp;</span>
      <span>n</span>
      <span>e</span>
      <span>w</span>
      <span>s</span>
    </span>
    <span>
      <span>V</span>
      <span>i</span>
      <span>e</span>
      <span>w</span>
      <span>&nbsp;</span>
      <span>a</span>
      <span>l</span>
      <span>l</span>
      <span>&nbsp;</span>
      <span>n</span>
      <span>e</span>
      <span>w</span>
      <span>s</span>
    </span>
  </a>
</div>
{{> ../common/cta }}
<footer>
  {{> ../common/footer }}
</footer>

</body>
</html>
