<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
{{#with latest}}
  <section class="latest-news">
    <div class="row expanded align-center flex-justify-center">
      <div class="latest-news__img" style="background-image: url('{{ images }}')"></div>
      <div class="latest-news__text column">
        <h2>Latest news and media</h2>
        <ul>
          <li><a href="#">
            <span class="line-left"></span>
            <span class="item">
              <span>Media Release  |  22 November 2019</span>
              <p>Rydalmere Park’s multi-million dollar upgrade in full swing <span class="arrow">
            <span class="line"></span><?xml version="1.0" encoding="UTF-8"?>
                <svg width="9px" height="18px" viewBox="0 0 9 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M8.769,8.389 L1.823,0.807 C1.519,0.411 0.895,0.411 0.512,0.736 C0.329746578,0.885822338 0.217870103,1.10458238 0.203082366,1.34004865 C0.188294629,1.57551492 0.271922911,1.80655304 0.434,1.978 L6.034,8.083 L6.85852051,8.97552804 L6.033,9.867 L0.434,15.972 C0.067,16.313 0.17,16.901 0.555,17.225 C0.941,17.549 1.521,17.526 1.823,17.143 L8.77,9.56 C8.956,9.367 8.99,9.156 9.001,8.975 C8.982,8.785 8.9,8.532 8.769,8.389 Z" id="Path"></path>
          </svg>
          </span></p>
            </span>
          </a></li>
          <li><a href="#">
            <span class="line-left"></span>
            <span class="item">
              <span>Media Release  |  20 November 2019</span>
              <p>Get a glimpse into the city’s future with 3D flythrough <span class="arrow">
            <span class="line"></span><?xml version="1.0" encoding="UTF-8"?>
                <svg width="9px" height="18px" viewBox="0 0 9 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M8.769,8.389 L1.823,0.807 C1.519,0.411 0.895,0.411 0.512,0.736 C0.329746578,0.885822338 0.217870103,1.10458238 0.203082366,1.34004865 C0.188294629,1.57551492 0.271922911,1.80655304 0.434,1.978 L6.034,8.083 L6.85852051,8.97552804 L6.033,9.867 L0.434,15.972 C0.067,16.313 0.17,16.901 0.555,17.225 C0.941,17.549 1.521,17.526 1.823,17.143 L8.77,9.56 C8.956,9.367 8.99,9.156 9.001,8.975 C8.982,8.785 8.9,8.532 8.769,8.389 Z" id="Path"></path>
          </svg>
          </span></p>
            </span>
          </a></li>
          <li><a href="#">
            <span class="line-left"></span>
            <span class="item">
              <span>Media Release  |  20 November 2019</span>
              <p>Get a glimpse into the city’s future with 3D flythrough <span class="arrow">
            <span class="line"></span><?xml version="1.0" encoding="UTF-8"?>
                <svg width="9px" height="18px" viewBox="0 0 9 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M8.769,8.389 L1.823,0.807 C1.519,0.411 0.895,0.411 0.512,0.736 C0.329746578,0.885822338 0.217870103,1.10458238 0.203082366,1.34004865 C0.188294629,1.57551492 0.271922911,1.80655304 0.434,1.978 L6.034,8.083 L6.85852051,8.97552804 L6.033,9.867 L0.434,15.972 C0.067,16.313 0.17,16.901 0.555,17.225 C0.941,17.549 1.521,17.526 1.823,17.143 L8.77,9.56 C8.956,9.367 8.99,9.156 9.001,8.975 C8.982,8.785 8.9,8.532 8.769,8.389 Z" id="Path"></path>
          </svg>
          </span></p>
            </span>
          </a></li>
        </ul>
        <a href="#" class="btn-blue--animate" data-state="">
    <span>
      <span>V</span>
      <span>i</span>
      <span>e</span>
      <span>w</span>
      <span>&nbsp;</span>
      <span>a</span>
      <span>l</span>
      <span>l</span>
      <span>&nbsp;</span>
      <span>n</span>
      <span>e</span>
      <span>w</span>
      <span>s</span>
    </span>
          <span>
      <span>V</span>
      <span>i</span>
      <span>e</span>
      <span>w</span>
      <span>&nbsp;</span>
      <span>a</span>
      <span>l</span>
      <span>l</span>
      <span>&nbsp;</span>
      <span>n</span>
      <span>e</span>
      <span>w</span>
      <span>s</span>
    </span>
        </a>
      </div>

    </div>
  </section>
{{/with}}
<section class="news">
  <div class="row column">
    <h2>Upcoming events</h2>
  </div>
  <div class="row">
    {{#each news}}
      {{> ../partials/news-box }}
    {{/each}}
  </div>
  <a href="#" class="btn-blue--animate" data-state="">
    <span>
      <span>V</span>
      <span>i</span>
      <span>e</span>
      <span>w</span>
      <span>&nbsp;</span>
      <span>a</span>
      <span>l</span>
      <span>l</span>
      <span>&nbsp;</span>
      <span>e</span>
      <span>v</span>
      <span>e</span>
      <span>n</span>
      <span>t</span>
      <span>s</span>
    </span>
    <span>
      <span>V</span>
      <span>i</span>
      <span>e</span>
      <span>w</span>
      <span>&nbsp;</span>
      <span>a</span>
      <span>l</span>
      <span>l</span>
      <span>&nbsp;</span>
      <span>e</span>
      <span>v</span>
      <span>e</span>
      <span>n</span>
      <span>t</span>
      <span>s</span>
    </span>
  </a>
</section>
{{> ../common/cta }}
<footer>
  {{> ../common/footer }}
</footer>

</body>
</html>
